@import '../../styles/_vars';

.header-container {

    position: fixed;
    width: 100%;
    background-color: $bg-black;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: $title-font;
    color: $white;
    font-size: 16px;

    .header-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    
        .logo{
            display: flex;
            align-items: center;
            gap: 7px;

            img{
                animation: rotation 8s infinite linear;
                
                @keyframes rotation {
                    from {
                        transform: rotate(0deg);
                    }
                    to {
                        transform: rotate(360deg);
                    }
                }
            }
            
            img:hover{
                animation: rotation 2s infinite linear;
            }

            .logo-name{
                font-family: $title-font;
            }
            
        }
    }

    .social{
        display: flex;
        gap: 15px;
        color: $gray;
        
        .bi-github:hover{
            transition: color 0.3s ease-in ;
            color: #6e5494 !important;
        }

        .bi-twitter:hover{
            color: #1da1f2;
            transition: color 0.3s ease-in ;
        }
    }
   
}
