@import '../../styles/_vars';

.Projects{

    padding: 5px;
    

    .Projects-title{
        text-transform: uppercase;
        color: $green;
        padding: 30px;
        font-size: 22px;
    }

    .Projects-container{
        display: grid;
        align-content: center;
        gap: 60px;

        .Projects-item{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 5px;
            gap: 15px;
            text-align: center;
            border-radius: 4px;
            transition: all .5s ease-in;

            .Projects-item--title{
                color: $green;
                display: flex;
                gap: 10px;

                i{
                    color: $gray;
                }
            }

            img{
               width: 100%; 
               height: 340px;
               border-radius: 4px;
            }

            p{
                color: $gray;
                font-size: 14px;
                padding-bottom: 10px ;
            }
        }

        .Projects-item:hover{
            transition: all .2s ease;
            background-color: $bg-military;
        }
    }
}

@media (min-width: 720px) { 
    .Projects{
        padding: 30px ;
    }
    .Projects-container{
        grid-template-columns: 1fr 1fr;
        gap: 20px !important;
    }
}
